
<%= turbo_frame_tag :new_team, target: "_top" do %>
  <div class="w-full my-3 col-span-1 bg-slate-50 rounded-lg shadow divide-y divide-gray-200">
    <div class="w-full flex flex-col items-center justify-between p-6 space-x-6">
      <h1 class="text-xl">Create new team</h1>
      <%= render "form", team: @team %>
    </div>
  </div>
<% end %>
